---
const personalImageAlt = "Matías Martín Murad Pretz";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, soy Matías Martín Murad Pretz, pero la mayoría me dice Mati. Empecé
      a curiosear con la programación allá por 2019 con <strong>Java</strong>, y
      con el tiempo (y algunos bootcamps encima) me fui enamorando de <strong
        >JavaScript</strong
      >. También tuve la oportunidad de meter mano en proyectos de backend con <strong
        >Python</strong
      >, y aprendí muchísimo en el camino.
    </p>
    <p>
      Desde entonces, descubrí que programar es una forma genial de convertir
      ideas en algo real. Me siento más cómodo con el stack <strong>MERN</strong
      >, pero lo que más disfruto es experimentar, aprender y divertirme creando
      experiencias digitales que sean útiles, lindas y funcionales — usando la
      herramienta que mejor se preste para eso.
    </p>
  </div>
</article>
