---
const personalImageAlt = "Matías Martín Murad Pretz";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Matías Martín Murad Pretz pero mis amigos me dicen Mati. Empecé a
      curiosear con la programación en 2019 con <strong>Java</strong>, pero la
      vida y algunos bootcamps me llevaron a enamorarme de <strong
        >JavaScript</strong
      >, aunque también pude colaborar en proyectos de backend con <strong
        >Python</strong
      > en los que pude aprender mucho.
    </p>
    <p>
      Encontré en la programación una poderosa herramienta para transformar
      ideas en soluciones tangibles. Aunque mi fortaleza es el stack MERN, tengo por
      objetivo divertirme creando experiencias digitales que cautiven y resuelvan
      problemas de manera efectiva con las herramientas que sean necesarias.
    </p>
  </div>
</article>
