---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024 - Actualidad",
    title: "Desarrollador web",
    company: "Freelance",
    description:
"Desarrollo aplicaciones web en mi tiempo libre como hobby, enfocándome principalmente en el stack MERN y en la creación de librerías de interfaces de usuario.",
  },
  {
    date: "2023 - Actualidad",
    title: "Desarrollador web",
    company: "Freelance",
    description:
      "Trabajo como desarrollador web freelance, creando aplicaciones y sitios web personalizados para clientes, utilizando tecnologías modernas y prácticas de desarrollo ágil.",
  },
  {
    date: "2022 - 2023",
    title: "Desarrollador web",
    company: "Codo a Codo",
    description:
      "Participé en el programa Codo a Codo, donde adquirí habilidades avanzadas en desarrollo web, incluyendo HTML, CSS, JavaScript y frameworks modernos.",
  },
  {
    date: "2020 - 2022",
    title: "Analista de Sistemas",
    company: "DNRPA",
    description:
      "Encargado de la implementación y mantenimiento de sistemas informáticos para la gestión de trámites registrales. Colaboré en la mejora de procesos internos y en la optimización del servicio al ciudadano.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
