---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2023 - Actualidad",
    title: "Desarrollador web",
    company: "Hobby",
    description:
      "Desarrollo aplicaciones web en mi tiempo libre como hobby, enfocándome principalmente en el stack MERN y en la creación de librerías de interfaces de usuario.",
  },
  {
    date: "2022 - 2023",
    title: "Desarrollador web",
    company: "Freelance",
    description:
      "Trabajé como desarrollador web freelance, creando aplicaciones y sitios web personalizados para clientes, utilizando tecnologías como React, Node.js y MongoDB.",
  },
  {
    date: "2022 - 2024",
    title: "Desarrollador web",
    company: "Codo a Codo",
    description:
      "Participé en el programa Codo a Codo, donde adquirí habilidades avanzadas en desarrollo web, incluyendo HTML, CSS, JavaScript y frameworks modernos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
