---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024 - Actualidad",
    title: "Desarrollador web FullStack freelance",
    company: "matipretz",
    description:
      "Trabajo paralelo desarrollando aplicaciones web en mi tiempo libre para distintos clientes. Principalmente CMS con el stack MERN y librerías de UI.",
  },
  {
    date: "2019 - Actualidad",
    title: "Especialista de Rentas",
    company: "DNRPA",
    description:
      "Responsable de la liquidación y gestión de impuestos como patentes, sellado fiscal y multas de tránsito dentro del sistema registral automotor. Lidero iniciativas para optimizar procesos y mejorar la eficiencia en la recaudación y atención al usuario.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
