---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024 - Actualidad",
    title: "Desarrollador web FullStack freelance",
    company: "matipretz",
    description:
      "Trabajo paralelo desarrollando aplicaciones web en mi tiempo libre para distintos clientes. Principalmente CMS con el stack MERN y librerías de UI.",
  },
  {
    date: "2019 - Actualidad",
    title: "Analista de Rentas",
    company: "DNRPA",
    description:
      "Lidero una equipo de análisis técnico de diferentes convenios de complementación de servicios provinciales y municipales con impacto directo en el usuario del servicio registral de automotores.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
